.introduce
{
	text-align: center;
}

.introduce div
{
	text-align: left;
	font-size: 1.2em;
	padding: 10px;
	text-indent:2em;
	padding-left: 40px;
	padding-right:40px ;
}
.introduce img
{
	width: 1200px;
	height: 440px;
	
}

.content
{

	background-color: white;
}

.bigImg
{
    width: 100%;
    height: 474px;
	border:solid  #bfbfbf 1px;
	
}