.ullist
{
	height: 610px;
	width: 100%;
	
	
}

.ullist ul li
{
	width: 656px;
	float: left;
	list-style: none;
	margin: 2px;
	background-color:white ;
}

.ullist ul li .title
{
	height: 52px;
	margin-top:2px ;
	border: 1px solid #bfbfbf;
	text-align: left;
	display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
   color: #9a8f8b;
	font-family: "微软雅黑";
	font-size:2em ;
	
	
}
.word
{
  width: 202px;
  height:224px;
  
  word-break:normal;
  display:block;
  float: left;
  text-align: left;
  text-indent: 2em;
  padding: 8px 4px;
}
.catimg
{
  width: 440px;
  margin: 2px;
}
